.grid-container {
	display: grid;
	padding: 10px;


	// @media only screen and (max-width: 768px) {
	// 	/* For mobile phones: */
	// 	  grid-template-columns: auto;
	//   }

	  /* Extra small devices (phones, 600px and down) */
	@media only screen and (max-width: 600px) {
		grid-template-columns: auto;
	}

	/* Small devices (portrait tablets and large phones, 600px and up) */
	@media only screen and (min-width: 600px) {
		grid-template-columns: auto;
	}

	/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (min-width: 768px) {
		grid-template-columns: auto;
	}

	/* Large devices (laptops/desktops, 992px and up) */
	@media only screen and (min-width: 992px) {
		grid-template-columns: 25% 25% 25% 25%;
	}

	/* Extra large devices (large laptops and desktops, 1200px and up) */
	@media only screen and (min-width: 1200px) {
		grid-template-columns: 25% 25% 25% 25%;
	}

  }

.grid-item {
	//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border: #1d528d;
	background-color: #f1f1f1;
	padding: 10px 10px 0px 10px;
	margin: 10px 10px 0px 10px;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	

	// @media only screen and (max-width: 768px) {
	// 	/* For mobile phones: */
		
	// 	  width: 100%;
		
	//   }

  }

.word-title {
	color: black;
	font-weight: bold;
}

.word-meaning {
	color: black;	
	height: 25px;
}

.word-example {
	color: #1d528d;
	font-style: italic;
}

.more-link {
	background-color: #1d528d;
	text-align: right;
	display: block;
	padding-right: 10%;
	// border-bottom-left-radius: 5%;
	// border-bottom-right-radius: 5%;
	//margin: 0px 10px;
  
	a:link {
	  color: white;
	  text-decoration: none;
	}
  
  }